
.idea/

node_modules/

package-lock.json

client/pnpm-lock.yaml

client/.next/
*.tsbuildinfo
.pnpm-store/
client/prisma/dev.db
client/prisma/dev.db-journal
client/prisma/generated/
client/certificates/

client/next-env.d.ts

.DS_Store

.env*
